In [19]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [14]:
garminconnect_df = pd.read_csv("../data/processed/20250313_1413_garminconnect_df_cleaned.csv")
garminconnect_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125178 entries, 0 to 125177
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   reviewId              125178 non-null  object
 1   userName              125178 non-null  object
 2   userImage             125178 non-null  object
 3   content               125178 non-null  object
 4   score                 125178 non-null  int64
 5   thumbsUpCount         125178 non-null  int64
 6   reviewCreatedVersion  118529 non-null  object
 7   at                    125178 non-null  object
 8   replyContent          3815 non-null    object
 9   repliedAt             3815 non-null    object
 10  appVersion            118529 non-null  object
 11  clean_content         125178 non-null  object
dtypes: int64(2), object(10)
memory usage: 11.5+ MB

## BOW

In [15]:
vectorizer = CountVectorizer()
X = vectorizer.fit_transform(garminconnect_df['clean_content'])

In [18]:
print(X.toarray())
print(vectorizer.get_feature_names_out())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 ...
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]
['aa' 'aaa' 'aaaaa' ... 'zx' 'zync' 'zzzzzzzzz']

## TFIDF

In [20]:
tfidf_vectorizer = TfidfVectorizer(
    stop_words='english',
    token_pattern=r'\b[a-zA-Z]{2,}\b',
)

X_tfidf = tfidf_vectorizer.fit_transform(garminconnect_df['clean_content'])

print(X_tfidf.toarray())  # TF-IDF matrix
print(tfidf_vectorizer.get_feature_names_out())  # vocabulary

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
['aa' 'aaa' 'aaaaa' ... 'zx' 'zync' 'zzzzzzzzz']

In [21]:
df_tfidf = pd.DataFrame(X_tfidf.toarray(), columns=tfidf_vectorizer.get_feature_names_out())
df_tfidf.head()

,aa,aaa,aaaaa,aaaaaaaaamaze,aaaaaggggghhhhh,aaaand,aaagh,aaallll,aaallllll,aaarrhh,...,zwangsapp,zwar,zwaszcza,zwei,zwift,zwingend,zwischen,zx,zync,zzzzzzzzz
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0